<section id="errorPage"
    class="border-b-2 border-background relative min-h-[30vh] overflow-hidden bg-cover bg-center bg-no-repeat px-6 py-10 sm:min-h-[48vh] md:min-h-[44vh] md:px-10 md:py-12 lg:min-h-[25vh] lg:px-14 lg:py-14"
    style="background-image: url('/images/assets/error-bg.jpg');">

    <div class="absolute inset-0 bg-black/40 backdrop-blur-[2px]"></div>

    <div class="relative mx-auto max-w-7xl">

        <div class="flex items-center gap-3 sm:gap-4">

            <span class="h-[2px] w-5 bg-primary sm:w-6"></span>

            <span class="text-xs font-bold tracking-[0.18em] text-primary md:text-sm lg:text-base uppercase">
                No todos los que vagan están perdidos
            </span>

        </div>

        <h1 class="mt-5 max-w-4xl font-display leading-[0.9] text-text">
            <span class="block text-5xl tracking-[0.2px] md:text-6xl lg:text-7xl">
                Pero...
            </span>

            <span
                class="block text-6xl uppercase tracking-[4px] text-primary md:text-7xl lg:text-8xl lg:tracking-[6px]">
                Tú sí
            </span>
        </h1>


        <p class="mt-5 max-w-2xl text-base leading-relaxed text-text sm:text-lg md:text-xl lg:text-xl">
            Esta parte de la biblioteca todavía está en construcción. Estamos ordenando los libros, preparando las salas
            y despejando el camino.
            <br />Pronto podrás continuar tu viaje.
        </p>
        <div class="mt-7 flex flex-col gap-3 sm:flex-row">

            <a href=".."
                class="flex items-center justify-between gap-2 bg-primary px-6 py-3 text-center text-text transition-all duration-200 hover:bg-primaryHover">

                <span class="text-base md:text-lg lg:text-lg">
                    Volver al inicio
                </span>

                <i class="ph ph-arrow-left text-lg"></i>

            </a>

            <a href="contact.html"
                class="flex items-center justify-between gap-2 border border-background px-6 py-3 text-center text-text transition-all duration-200 hover:border-primaryHover hover:bg-primaryHover hover:text-text">

                <span class="text-base md:text-lg lg:text-lg">
                    Buscar otro libro
                </span>

                <i class="ph ph-book-open text-lg"></i>

            </a>

        </div>
    </div>

</section>
