<div class="overflow-hidden bg-primary text-text border-b-2 border-border">
    <div class="flex w-max whitespace-nowrap animate-marquee">

        <span class="flex items-center gap-2 px-4 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            Nuevos libros disponibles
        </span>

        <span class="flex items-center gap-2 px-4 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            One Piece 113
        </span>

        <span class="flex items-center gap-2 px-4 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            Dormir Cuando No Puedes Dormir
        </span>

        <span class="flex items-center gap-2 px-4 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            Harry Potter y Las Reliquias de la Muerte - 20 Aniversario
        </span>

        <span class="flex items-center gap-2 px-8 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            El Tren de la Medianoche
        </span>

         <span class="flex items-center gap-2 px-4 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            Nuevos libros disponibles
        </span>

        <span class="flex items-center gap-2 px-4 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            One Piece 113
        </span>

        <span class="flex items-center gap-2 px-4 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            Dormir Cuando No Puedes Dormir
        </span>

        <span class="flex items-center gap-2 px-4 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            Harry Potter y Las Reliquias de la Muerte - 20 Aniversario
        </span>

        <span class="flex items-center gap-2 px-8 py-2 text-sm md:text-lg font-sans font-semibold text-textDark uppercase">
            <i class="ph-fill ph-diamond text-base text-text"></i>
            El Tren de la Medianoche
        </span>
    </div>
</div>